body {
  text-align: center;
}
.login-container {
  display: block;
  height: 100vh;
  width: 100%;
}
h2 {
  margin-bottom: 3.5rem;
}
.trademark-image {
  width: 5.5rem;
  height: 5.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.login-form {
  width: 16rem;
  margin: 2rem auto 0;
}

.login-form form input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid rgb(235, 216, 216);
  margin-bottom: 5rem;
  background: none;
  outline: none;
  width: 100%;
  margin: 0 auto 3rem;
  color: white;
  font-size: 1rem;
}

.btn {
  margin: 0 auto 1.5rem;
  color: #fff;
  text-align: center;
  display: block;
  height: 3rem;
  width: 15rem;
  border-radius: 1rem;
  font-size: 1rem;
  background-color: hsl(290, 50%, 83%);
  border: none;
}
.btn:hover {
  cursor: not-allowed;
}

.link {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  margin: 0 auto 2rem;
  height: 3rem;
  display: block;
  padding: 0.5rem;
}

.login-form input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: white;
  font-size: 1rem;
}

.login-form input[type="text"]:focus,
input[type="password"]:focus {
  color: white;
  font-size: 1rem;
}

.active {
  background-color: hsl(290, 75%, 70%);
  cursor: pointer;
}

.active:hover {
  cursor: pointer;
}

#error {
  background-color: white;
  color: rgb(255, 86, 86);
  /* margin-bottom: 2rem; */
  display: block;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
