body {
  display: flex;
  flex-direction: column;
}

input:autfill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#title-document {
  display: block;
}

.register-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.register-form form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: #2196f3; */
  gap: 2rem;
  /* grid-template-areas: ; */
}
footer {
  display: sticky;
  position: relative;
  bottom: 0pt;
  right: 0pt;
  margin-top: auto;
  z-index: 10;
}

footer div {
}
@media (max-width: 600px) {
  .register-form form {
    grid-template-columns: 1fr;
  }
}
